<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="main.css" rel="stylesheet">
    <!-- <link href="/dist/output.css" rel="stylesheet"> -->
    <title>Nagai Gomi</title>
  </head>
  <body>
    <div class="pt-2">
    <h2 class="max-w-md text-size 4xl font-bold text-center md:text-5xl md:text-left">Garbage</h2>
    <section class="ui-widget">
      <label for="name"> Name: </label>
      <input class="" id="name" />
      <ul class="text-orange-500 sm:text-blue-500" id="test"></ul>
    </section>
    </div>
    
    <section>
      <img src="" />
    </section>
    <script src="main.js"></script>
  </body>
</html>
