<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/3bfd3ce9e5.js" crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>
    
    <!-- <h1 class="text-4xl">Gomigata</h2> -->
    <section class="hero">
      <img id="banner" src="recycle.jpeg" alt="">
    </section>

    <section class="container">
    
      <section class="searchContainer">
        <h1 class="title">Gomigata</h1>
        <!-- <p class="explanation">Keep your search simple.</p> 
        <p class="explanation">Searching for<span class="bottleSpec">"bottle"</span> will give you information on various bottles and how to dispose of them.</p> -->
        <label for="name" class="input">
        <input id="name" type="text" placeholder=" " class="input__field" />

        <span class="input__label">Enter Item Name</span>
        </label>

        <p class="explanation">Keep your search simple. Searching for 
        <span class="bottleSpec">bottle</span> will populate various types of bottles.</p>
        <!-- <ul id="test"></ul> -->
      </section>

      <section class="middleSectionContainer">

        <section class="info hidden" id="info">

          <div>
            <h3 class="itemName" id="itemName"></h3>
          </div>

          <div class="burnableDistinction">
            <!-- <h4 class="burnableDistinction">Burnable:  -->

              <div class="burnable hidden classTypes" id="burnable">
                <h4 class="yes" id="yes">Burnable</h4>
                <i class="fa-solid fa-fire fireIcon" id="fireIcon"></i>
              </div>

              <div class="nonburnable hidden classTypes" id="nonburnable">
                <h4 class="no" id="no">Non-burnable</h4>
                <i class="fa-solid fa-xmark xmark"></i>
              </div>

              <div class="recyclable hidden classTypes" id="recyclable">
                <h4 class="recycleTitle" id="recycleTitle">Recyclable</h4>
                <i class="fa-solid fa-recycle recycleMark"></i>
              </div>

              <div class="nonCollectable hidden classTypes" id="nonCollectable">
                <h4 class="nonCollectableTitle" id="nonCollectableTitle">Not collectable</h4>
                <i class="fa-solid fa-ban"></i>
              </div>

              <div class="overSize hidden classTypes" id="overSize">
                <h4 class="overSizeTitle" id="overSizeTitle">Oversized</h4>
                <i class="fa-solid fa-weight-scale"></i>
              </div>
          </div>

          <div class ="hidden headers" id="materialHeader">
            <h4 class="materialHeader">Material:</h4>
            <p class="material" id="material"></p>
          </div>

          <div class="hidden headers" id="instructionsHeader">
            <h4 class="instructionsHeader">Instructions:</h5>
            <p class="instructions" id="instructions"></p>
          </div>

        </section>

        <section class="markContainer hidden">
            <img src="300px-Recycling_steel.svg.png" class="markImg" id="markImg"/>
        </section>

        <section class="bagContainer hidden">
          <img src="burnablebag.jpg" class="bagImg" id="bagImg"/>
        </section>
    </section>
    
    </section>

    <div class="contactInfo" id="contactInfo">
      <i class="fa-solid fa-circle-xmark" id="xmark"></i>
      <h5 class="specialOrOversize">This is a special or oversize item.</h5>
      <p class="contactExplanation">It may be necessary for you to call Nagai City Hall for more information.</p>
      <h3 class="phoneNumber" id="contactNumber"></h3>
      <i class="fa-solid fa-phone-volume phoneIcon"></i>
    </div>
    
    <script src="main.js"></script>
  </body>
</html>
