/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* #banner{
    max-width: 56vh;
    max-height: 60vh;
    margin-top: 5vh;
} */

/* .hero{
    display: flex;
    justify-content: center;
}*/


.container{
    display: flex;
    flex-direction: column;
    gap: .3em;
    width: 100vw;
    padding: 0 .3em 0 .3em;
    justify-content: center;
    margin: 4em auto;
}

.searchContainer{
    align-self: center;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: calc(.5rem * 1.5) .5rem;
}

.buttonsContainer{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
}

.middleSectionContainer{
    justify-self: center;
    align-self: center;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background-color: rgba(121, 255, 210, 0.28);
    /* margin-top: calc(.5rem * 1.5);*/
    padding: calc(.5rem * 1.5) 1rem;
}

.bagAndMarkContainer{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-content: center;
    overflow: hidden;
}

.markContainer,
.bagContainer{
    height: 10em;
    width: 10em;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: calc(.5rem * 1.5) calc(.5rem * 1.5);
}

.searchContainerBtns{
    display: flex;
    color:#f5fafa;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    font-family: 200;
    width: 120px;
    height: 35px;
    border-radius: 20px 20px;
    background-color: rgba(1, 186, 124, 0.785);
}

.searchContainerBtns:first-child{
    font-size: .9rem;
}

.searchContainerBtns:hover {
    background-color: rgba(2, 200, 134, 0.785);
    cursor: pointer;
}

.title{
    font-size: 3.4rem;
    font-weight: 700;
    color: #46C999;
    line-height: 1;
}

.subtitle{
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
    margin: .2em 0 .2em 0;
}

.explanation{
    font-weight: 300;
    font-size: .7rem;
    margin: 0 0 0 calc(.5rem * 1.5);
}

.bottleSpec{
    font-weight: 600;
    font-style: italic;
}

.searchContainer > .explanation + p {
    margin-bottom: calc(.5rem * 3);
}

.markImg,
.bagImg{
    width: 100%;
    height: 100%;
}


/*INPUT STYLES*/
.input {
    position: relative;
}

.input__field{
    outline: .5px solid rgb(112, 112, 112);
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: calc(.5rem * 1.5) .7rem;
    /* color: rgb(50, 48, 48); rgb(69, 72, 75) */
    background: transparent; /*transparent*/
    border-radius: 5px;
}

.input__label{
    position: absolute;
    left: 0;
    padding: calc(.4rem * .75) calc(.5rem * .5);
    margin: calc(.5rem * .75 + .5px) calc(.5rem * 1.2);
    white-space: nowrap;
    transform: translate(0,0);
    transform-origin: 0 0;
    background: transparent; /*white*/
    color: rgb(50, 46, 46); /*#bdbdbd*/
    transition: transform 120ms ease-in;
    font-weight: 300;
    line-height: 1.2;
}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: rgb(50, 46, 46);
    background-color: white;
}

/*END OP INPUT STYLES*/


/*ITEM NAME STYLES*/
.itemName{
    font-size: 1.5rem;
    font-weight: 500;
}


/*BURNABLE OR NOT BURNABLE DESIGANTIONS*/
.burnableDistinction > div > h4{
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51);
    letter-spacing: .2rem;
}

.yes{
    color:rgb(96, 224, 96);
}

.no{
    color: rgb(250, 123, 123);
}

.recycleTitle{
    color: rgb(237, 216, 24);
}

.nonCollectableTitle{
    color: rgb(148, 148, 148);
}

.overSizeTitle{
    color: rgb(161, 113, 255);
}

/*MATERIALS SECTION*/
.materialHeader{
    display: inline-block;
    font-weight: 400;
}

.hidden{
    display: none;
}

/*MATERIAL INFO STYLES*/
.itemMaterial, .material{
    display: inline-block;
}

.instructions,
.material{
    font-weight: 200;
}

/*CONTACT INFO*/
.contactInfo{
    position: fixed;
    background-color: white;
    bottom: 100%;
    left:0;
    right:0;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(51, 51, 51); */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 3px;
    padding: calc(.7rem * 1.5) .5rem;
    transition: all .2s;
}

.xmarkContact{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: .5rem;
    right: .5rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
}

.xmarkContact:hover{
    cursor: pointer;
    background-color: #bdbdbd83;
    color: white;
}

/*show contact info*/
.show-contact {
    bottom: 50%;
  }

.specialOrOversize{
    font-size: 1.2rem;
    padding-top: .5rem;
}

.contactExplanation{
    font-weight: 200;
    font-size: .8rem;
    text-align: center;
    padding-top: .5rem;
}

.phoneNumber{
    padding-top: .5rem;
}

.phoneIcon{
    padding-top: .5rem;
    font-size: 2rem;
    transform: rotate(-40deg);
}

.callContact{
    color: black;
}

/*CONTACT INFO END*/

/*Contributors and FOOTER*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.displayContributors{
    position: fixed;
    right: 1%;
    bottom: 1%;
    border-radius: 5px;
    background-color: white;
    color:black;
    border: .5px solid rgb(83, 83, 83);
}

.displayContributors:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.displayContributors p{
    font-weight: 400;
    display: flex;
    align-self: center;
    padding: .5rem;
}

.contributorsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .3rem;
    flex-direction: row;
    align-items: center;
}

/*Contributors STYLES AND ANIMATION*/
.parent {
    position: relative;
    height: 60px;
    width: 60px;
    transition: width 1s;
    overflow: hidden;
}

.text{
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    padding-top: .3rem;
    width: 100%;
    height: auto;
}

.text h6{
    font-size: .7rem;
}
.text p{
    font-size: .5rem;
}

/*HIDE TEXT*/
.hide{
    visibility: hidden;
}

.child{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: transform 1s;
    z-index: 3;
}

.child img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.parent:hover{
    width: 120px;
}

.parent:hover .child{
    transform: translateX(-100%);
}

.parent:hover .hide{
    visibility: visible;
}

.parent:hover .text p{
    font-size: .6rem;
}

.parent:hover .textcover{
    animation: width 1s ease-out forwards;
}

@keyframes width{
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }

}

@media screen and (max-width: 786px) {
    .container{
        border: 1px solid red;
        flex-direction: column;
    }

    .searchContainer{
        align-self: center;
    }

    .middleSectionContainer{
        flex-direction: column;
        align-self: center;
    }

    .info{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .bagAndMarkContainer{
        flex-direction: row;
    }

    .subtitle{
        display:none;
    }

    .bagContainer,
    .markContainer{
        width: 50%;
        overflow: hidden;
    }
}

@media screen and (max-width: 350px){
    .bagAndMarkContainer{
        flex-direction: column;
    }
    
    .bagContainer,
    .markContainer{
        /* width: 100%; */
        height: 10em;
    }
}
