/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    gap: .3em;
    width: 100vw;
    justify-content: center;
    margin: 4em auto;
}

.titleContainer{
    width: fit-content;
}

.searchContainer{
    width:50%;
    display: flex;
    flex-direction: column;
    padding: calc(.5rem * 1.5) .5rem;
}

.buttonsContainer{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    display: none;
}

.middleSectionContainer{
    gap: 1rem;
    margin-top: 1.5em;
    width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    /* margin-top: calc(.5rem * 1.5);*/
    /* padding: calc(.5rem * 1.5) 1rem; */
}

.bagAndMarkContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    overflow: hidden;
}

.markContainer,
.bagContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* padding: calc(.5rem * 1.5) calc(.5rem * 1.5); */
}

.recycleLabel,
.bagLabel{
    text-transform: uppercase;
    padding: .5rem .5rem;
    line-height: 1rem;
    text-align: center;
    width: 100%;
    background-color: rgba(171, 171, 171, 0.598);
    border-radius: 3px 3px 0px 0px;
    font-size: 1rem;

}

.searchContainerBtns{
    display: flex;
    color:#f5fafa;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    font-family: 200;
    width: 120px;
    height: 35px;
    border-radius: 20px 20px;
    background-color: rgba(1, 186, 124, 0.785);
}

.searchContainerBtns:first-child{
    font-size: .9rem;
}

.searchContainerBtns:hover {
    background-color: rgba(2, 200, 134, 0.785);
    cursor: pointer;
}

/*************GOMIGATA TITLE**********/
.title1{
    font-family: 'Days One', sans-serif;
    /* font-size: 9rem; */
    font-size: 700%;
    line-height: 72%;
    font-weight: 400;
    color: #7BD751;
    text-transform: uppercase;
    overflow-wrap: break-word;
    letter-spacing: -0.025em;
}

.title2{
    font-family: 'Days One', sans-serif;
    /* font-size: 9rem; */
    font-size: 700%;
    line-height: 72%;
    font-weight: 400;
    color: #FFB039;
    text-transform: uppercase;
    overflow-wrap: break-word;
    letter-spacing: -0.025em;
}
/*********HOME EXPLANATION AND DISCLAIMER*********/
.subtitle{
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.subtitle.disclaimer{
    font-size: 0.6rem;
    font-style: italic;
}

/*********MAIN ACCORDIAN CONTENT************/
.card {
    cursor: pointer;
    margin-bottom: 10px;
}

.card-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card .card-body{
    border: 1px solid #7BD751;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    height: 0;
    transition: .5s;
}

.card.active .card-body {
    height: auto;
    padding: .7rem 2rem;
}

.card-body ol li {
    display: list-item;
    font-size: .9rem;
    font-weight: 200;
    padding: .2rem 0;
}

.card-body .recycleTitle,
.card-body .yes,
.card-body .no,
.card-body .nonCollectableTitle,
.card-body .overSizeTitle{
    display: inline;
}

/*********PLUS BUTTON************/

.card .menu-btns {
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    border: none;
    background-color: transparent;
}

.card .menu-btns:focus{
    outline: none;
}

.card .menu-btns .menu-btn-top,
.card .menu-btns .menu-btn-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 2px;
    background-color:  #7BD751;
    transition: all 0.5s;
}

.card .menu-btns .menu-btn-top {
    translate: 0px 6.6px 2rem;
}

.card .menu-btns .menu-btn-bottom{
    translate: 0px 6.6px 1rem;
    transform: rotate(90deg);
}

.card.active .menu-btns .menu-btn-bottom{
    transform: rotate(0deg);
}
/*********PLUS BTN END************/
/*********ACCORDIAN INFO END************/

.bottleSpec{
    font-weight: 600;
    font-style: italic;
}

.searchContainer > .explanation + p {
    margin-bottom: calc(.5rem * 3);
}

.markImg,
.bagImg{
    width: 100%;
    height: 100%;
}


/*INPUT STYLES*/
.input {
    position: relative;
}

.input__field{
    outline: .5px solid rgb(112, 112, 112);
    width: 100%;
    border: solid #7BD751 3px;
    padding: calc(.5rem * 1.5) 4rem;
    /* color: rgb(50, 48, 48); rgb(69, 72, 75) */
    /*background: transparent; /*transparent*/
    background: transparent url("assets/searchicon.png") no-repeat 9px center;
    background-size: contain;
    border-radius: 37px;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.input__field::placeholder{
    color: rgba(112, 112, 112, 0.607);
}

.input__label{
    position: absolute;
    left: 0;
    padding: calc(.4rem * .75) calc(.5rem * .5);
    margin: calc(.5rem * .75 + .5px) calc(.5rem * 1.2);
    white-space: nowrap;
    transform: translate(0,0);
    transform-origin: 0 0;
    background: transparent; /*white*/
    color: rgba(139, 139, 139, 0.817); /*#bdbdbd*/
    transition: transform 120ms ease-in;
    font-weight: 300;
    line-height: 1.2;
}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: rgb(50, 46, 46);
    background-color: white;
}

/*END OP INPUT STYLES*/


/*ITEM NAME STYLES*/
.itemName{
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
}


/*BURNABLE OR NOT BURNABLE DESIGANTIONS*/
.burnableDistinction > div > h4{
    font-size: 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51);
    letter-spacing: .2rem;
}

.yes{
    color:rgb(96, 224, 96);
}

.no{
    color: rgb(250, 123, 123);
}

.recycleTitle{
    color: rgb(237, 216, 24);
}

.nonCollectableTitle{
    color: rgb(148, 148, 148);
}

.overSizeTitle{
    color: rgb(161, 113, 255);
}

/*DISTINCTION MARKS*/
.classTypes .distinctionMark{
    font-size: 1.5rem;
}

/*MATERIALS & INSTRUCTIONS SECTION*/
.materialHeader{
    display: block;
}

.instructionsHeader,
.materialHeader{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
}

.hidden{
    display: none;
}

.itemMaterial, .material{
    display: inline-block;
}

.instructions,
.material{
    font-weight: 200;
    font-size: 1.3rem;
}

/*CONTACT INFO*/
.contactInfo{
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(51, 51, 51); */
    padding: calc(.7rem * 1.5) .5rem;
}

.specialOrOversize{
    padding-top: .5rem;
    font-weight: 400;
    font-style: italic;
    font-weight: 500;
    color: red;
}

.contactExplanation{
    font-weight: 200;
}

.phoneNumber{
    padding-top: .5rem;
}

.callContact{
    color: black;
}

/*CONTACT INFO END*/

/*Contributors and FOOTER*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.displayContributors{
    position: fixed;
    right: 1%;
    bottom: 1%;
    border-radius: 5px;
    background-color: white;
    color:black;
    border: .5px solid rgb(83, 83, 83);
}

.displayContributors:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.displayContributors p{
    font-weight: 400;
    display: flex;
    align-self: center;
    padding: .5rem;
}

.contributorsContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/*Contributors STYLES AND ANIMATION*/
.parent {
    height: 60px;
    width: fit-content;
    transition: width 1s;
    border: 1px solid greenyellow;
}

/* .text{
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    padding-top: .3rem;
    width: 100%;
    height: auto;
    border: 1px solid red;
} */

.text h6{
    font-size: .7rem;
}
.text p{
    font-size: .5rem;
}

/*HIDE TEXT*/
/* .hide{
    visibility: hidden;
} */

.child{
    height:60px;
    width: 60px;
    border-radius: 50%;
    transition: transform 1s;
    z-index: 3;
}

.child img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid blue;
}

/* .parent:hover{
    width: 120px;
}

.parent:hover .child{
    transform: translateX(-100%);
}

.parent:hover .hide{
    visibility: visible;
}

.parent:hover .text p{
    font-size: .6rem;
}

.parent:hover .textcover{
    animation: width 1s ease-out forwards;
} */

@keyframes width{
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }

}

@media screen and (max-width: 786px) {
    .titleContainer{
        align-self: center;
    }

    .title1, .title2{
        font-size: 6rem;
    }

    .container{
        flex-direction: column;
    }

    .searchContainer{
        align-self: center;
        width: 90%;
    }

    .middleSectionContainer{
        flex-direction: column;
        align-self: center;
    }

    .info{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .bagAndMarkContainer{
        flex-direction: row;
        width: 100%;
    }

    .subtitle{
        display:none;
    }

    .bagContainer,
    .markContainer{
        width: 50%;
        overflow: hidden;
    }
}

@media screen and (max-width: 425px){
    .searchContainer{
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    .title1, .title2{
        font-size: 3rem;
    }

    .searchContainer{
        width: auto;
    }

    .bagAndMarkContainer{
        flex-direction: column;
    }

    .bagContainer,
    .markContainer{
        /* width: 100%; */
        height: 10em;
    }

    .input__field{
        font-size: 1rem;
    }
}
