@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#banner{
    max-width: 56vh;
    max-height: 60vh;
    margin-top: 5vh;
}

/* .hero{
    display: flex;
    justify-content: center;
}

body{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 74%);
    background-repeat: no-repeat;
    height: 140vh;
} */

.container{
    margin: 6rem auto;
    width: 60vw;
    padding: calc(.5rem * 1.5) .5rem;
    border: 1px solid red;
}

.searchContainer{
    display: flex;
    flex-direction: column;
}

.middleSectionContainer{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: calc(.5rem * 1.5);
    padding: calc(.5rem * 1.5) .5rem;
    border-radius: 15px;
}

.title{
    font-size: 3.4rem;
    margin: 0 0 calc(.5rem * 3) 0;
}

.explanation{
    font-weight: 300;
    font-size: .7rem;
    margin: 0 0 0 calc(.5rem * 1.5);
}

.bottleSpec{
    font-weight: 600;
    font-style: italic;
}

.searchContainer > .explanation + p {
    margin-bottom: calc(.5rem * 3);
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: calc(.5rem * 1.5);
    padding: calc(.5rem * 1.5) .5rem;
    border-radius: 15px; */
    border: 1px solid green;
}

.markContainer,
.bagContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
    max-width: 25%;
}

.markImg{
    max-width: 100%;
}

.bagImg {
    max-width: 100%;
}


/*INPUT STYLES*/
.input {
    position: relative;
}

.input__field{
    box-sizing: border-box;
    width: 100%;
    border: 1.5px solid rgb(51, 51, 51);
    padding: calc(.5rem * 1.5) .7rem;
    color: rgb(69, 72, 75);
    background: transparent;
    border-radius: 20px;
}

.input__label{
    position: absolute;
    left: 0;
    padding: calc(.5rem * .75) calc(.5rem * .5);
    margin: calc(.5rem * .75 + .5px) calc(.5rem * 1.2);
    white-space: nowrap;
    transform: translate(0,0);
    transform-origin: 0 0;
    background: white;
    color: #bdbdbd;
    transition: transform 120ms ease-in;
    font-weight: 400;
    line-height: 1.2;
}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: #fa2a00;
}

/*END UP INPUT STYLES*/

/* ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */
/*ITEM NAME STYLES*/
.itemName{
    font-size: 2rem;
}


/*BURNABLE OR NOT BURNABLE DESIGANTIONS*/
.burnableDistinction > div > h4{
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51), 0 0 1px rgb(51, 51, 51);
    letter-spacing: .2rem;
}

.yes{
    color:rgb(96, 224, 96);
}

.no{
    color: rgb(250, 123, 123);
}

.recycleTitle{
    color: rgb(237, 216, 24);
}

.nonCollectableTitle{
    color: rgb(148, 148, 148);
}

.overSizeTitle{
    color: rgb(161, 113, 255);
}

/*MATERIALS SECTION*/
.materialHeader{
    display: inline-block;
}

.hidden{
    display: none;
}

/*MATERIAL INGO STYLES*/
.itemMaterial, .material{
    display: inline-block;
}


/*CONTACT INFO*/
.contactInfo{
    position: fixed;
    background-color: white;
    bottom: -100%;
    left:0;
    right:0;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(51, 51, 51); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding: calc(.5rem * 1.5) .5rem;
    transition: all .2s;
}

.fa-circle-xmark{
    position:absolute;
    top: 0rem;
    right: -0.2rem;
}

.fa-circle-xmark:hover{
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/*show contact info*/
.show-contact {
    bottom: 5%;
  }

.specialOrOversize{
    font-size: 1.2rem;
}

.contactExplanation{
    font-weight: 200;
    font-size: .8rem;
    text-align: center;
}

.phoneIcon{
    font-size: 2rem;
}

/*CONTACT INFO END*/

/*BEGIN MEDIA QUERIES*/
@media screen and (max-width: 768px) {
    .middleSectionContainer{
        flex-direction: column;
    }
}

